.ant-menu {
  .ant-menu-item-selected {
    background-color: #000000 !important;
  }
  .ant-menu-submenu-selected {
    background-color: #000000 !important;
  }
}

.search {
  height: 324px;
  color: #ffffff;
  background-color: #000000;
  border-top: #ffffff solid 1px;
}